
@{
    ViewData["Title"] = "modifyPassword";
}
@{
    Layout = null;
}
@model modifyPasswordView
<style type="text/css">
    #main1 {
        text-align: center;
        width: 100%;
        height: 100%;
        background: url(../images/BG.png)no-repeat center center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        border: 0;
        color: #3e3e3e;
    }

    #main2 {
        height: 100%;
        padding-top: 200px;
        background-color: rgba(255, 255, 255, 0.45);
    }
</style>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div id="main1" class="col-md-12">
    <div id="main2" class="col-md-4 col-md-offset-4">
        <h3>密码修改</h3>
        <form asp-controller="Account" asp-action="modifyPassword" method="post">
            <h4>修改用户密码</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName">用户名</label>
                <input asp-for="UserName" class="form-control" style="background-color:rgba(255, 255, 255, 0.6)" placeholder="请输入用户名"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Email">邮箱</label>
                <input asp-for="Email" class="form-control" style="background-color:rgba(255, 255, 255, 0.6)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>-->

            <div class="form-group">
                <label asp-for="oldPassword">原始密码</label>
                <input asp-for="oldPassword" class="form-control" style="background-color:rgba(255, 255, 255, 0.6)" placeholder="请输入原始密码"/>
                <span asp-validation-for="oldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newPassword">新密码</label>
                <input asp-for="newPassword" class="form-control" style="background-color:rgba(255, 255, 255, 0.6)" placeholder="请输入新密码（至少8位）"//>
                <span asp-validation-for="newPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">修改</button>
            </div>
            <div class="form-group">
                <p>
                    <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">已有账户？可直接登陆</a>
                </p>
            </div>
        </form>
    </div>
</div>

